#event-info-section  {
    padding-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: space-evenly;
    width: 60%;
    /* border: solid; */
}

/* #event-info-section div {
    border: solid;
} */

#event-info-section p {
    text-align: center;
    color: #0A3015;
    font-family: Alice;
    /* border: solid; */
}

.vertical-line {
    height: 100px;
    background-color: black;
    border: 0.1rem solid;
    margin: auto;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.vertical-line-sm {
    display: none;
}

@media screen and (max-width: 480px) {
    #event-info-section {
      flex-direction: column;
    }

    .vertical-line {
        display: none;
    }
    .vertical-line-sm{
        display: block;
        width: 80%;
    }
  }

  