#footer-section {
    /* border-top: solid; */
    padding-top: 0.3rem;
    text-align: center;
    margin: auto;
    background-color: #82807F21;
    color: #0A3015;
    height: 7rem;
}

#footer-section .footer-div {
    width: 100%;
    margin: auto;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: #bab7b7;
    padding-top: 0.5rem;
}





