#header-section {
    /* border: solid; */
    text-align: center;
}    

h1 {
    margin-bottom: 0;
    color: FF6600;
    font-family: 'Xanh Mono';
    font-weight: 2rem;
    font-size: 2.5rem;
    line-height: 2rem;
    color: #FF6600;
}

#header-section p {
    margin-top: 0;
    font-style: italic;
    color: #0F5122;
}