
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

li {
    font-family: Alice;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #0c3f1a;
}
li:active{
  color: white;
}

.button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 1rem;
  border-radius: 10px;
}
.button:hover{
  cursor: pointer;
  background-color:#f1f3f1;
  transition: 0.2s;
}
.button:active{
  background-color: rgb(30, 29, 29); 
}

#mobile{
    display: none;
}

@media screen and (max-width:769px){

    .active-m{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inactive-m {
        display: none;
    }

    #mobile {
        display: block;
        position: absolute;
        top: 40px;
        left: 20px;
    }
    .button{
      padding: 1rem 1rem;
    }
    

    #mobile i {
        cursor: pointer;
    }
    
}