.w-80 {
  width: 80%;
  margin: auto;
  
}
.w-60 {
  width: 60%;
  margin: auto;
  
}

.App {
  /* border-bottom: solid; */
  padding-bottom: 0rem;
}

.mb-5 {
  margin-bottom: 5px;
}

@media screen and (max-width: 769px) {
  .w-80 {
    width: 90%;
  }
}